html,
body{
	padding:10;
}
.my-clouse-button{
	margin-right: 4px;
	margin-bottom: 20px;
}
.my-link{
	display:block;
	height:100%;
}
.my-footer {
background:#ccc;
bottom:0px;
left:0px;
position:fixed;
height:30px;
  width:100%;
}